.chatster
  %form.login
    %span Nickname
    %input.nick{type:"text", placeholder:"Pick a nickname"}
    %input.submit{type:"submit", value:"Enter"}
  .chat
    .area
    .message
      %hr
      %form.text
        %table
          %colgroup{span: "1"}
          %colgroup{span: "1", style: "width:100%"}
          %tr
            %td Message
            %td
              %input.text{type:"text"}
            %td
              %input.submit{type:"submit", value:"Send"}

